body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 400px;
    background: rgb(85, 1, 1);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}

h2 {
    text-align: center;
}

#chat-box {
    height: 350px;
    border: 1px solid #160808;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.bot {
    background: #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user {
    background: #a77e7e;
    color: rgb(20, 11, 11);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}